QUES 1 Consider the following Python module:

In [68]:
a = 0

In [69]:
def b():
    global a
    a = c(a)

In [70]:
def c(a):
    return a + 2

now excuting

In [71]:
b()
b()
b()
a

6

Here,first we are declaring a variable 'a' and making it equal to 0, then we are defining a function called b() in which we are making 'a' global, which means we can access A and change its value inside this function.Then we make a = c(a),which means we are now calling a function c() and storing the value it returns in a. In function c(), we are returning a+2. This makes a's value = 2 when we call b() for the first time, 4 when we call it for the 2nd time and 6 when we call it for the 3rd time.

QUES 2 Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:

In [1]:
def filelength(r):
    try:
        file = open(r)
        x = file.readlines()
        file.close()
        print(len())
    except:
        print('File {} was not found'.format(r))

In [3]:
filelength('problemset2.ipynb')

1421

In [4]:
filelength('abhi.ipynb')

File abhi.ipynb was not found

QUES 3

In [58]:
class Marsupial:
    def __init__(self):
        self.list1 =[]
    def put_in_pouch(self, item):
        self.list1.append(item)
    def pouch_contents(self):
        return self.list1

In [59]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [60]:
class Kangaroo(Marsupial):
    def __init__(self, xcord, ycord):
        Marsupial.__init__(self)
        self.x = xcord
        self.y = ycord
    
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
    
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

In [61]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [62]:
k.put_in_pouch('doll')
k.put_in_pouch('firestuck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firestuck', 'kitten']

In [63]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

QUES 4

In [10]:
def collatz(num):
    if num == 1:
        print(1)
    elif num % 2 == 0:
        print(num)
        collatz(num//2)
    else:
        print(num)
        collatz(3*num+1)

In [11]:
collatz(1)

1

In [12]:
collatz(10)

10
5
16
8
4
2
1

QUES 5

In [15]:
def binary(num):
    if num == 0:
        return 0
    else:
        binary(num//2)
    print(num%2, end ='')

In [16]:
binary(0)

0

In [17]:
binary(1)

1

In [19]:
binary(3)

11

In [ ]:
binary(87)

QUES 6

In [62]:
infile =open('ques6.txt')
content = infile.read()
infile.close()
from html.parser import HTMLParser
parser = HTMLParser()
parser.feed(content)

In [63]:
print(parser)

<html.parser.HTMLParser object at 0x000002712B763670>

In [23]:
#from html.parser import HTMLParser
#class LinkParser(HTMLParser):
    
 #   def handle_starttag(self, tag, attrs):
  #      if tag == 'a':
   #         for attr in attrs:
    #            if attr[0] == 'href'
     #           print(attr[1])

In [24]:
from html.parser import HTMLParser
class Headingparser(HTMLParser):
    A = False
    indent= False
    def handle_starttag(self,tag,attrs):
        if tag =='h1':
            self.A = True
        elif tag == 'h2':
            self.A=True
            self.indent = True
    def handle_data(self,data):
        if self.A:
            print(data,end="")

In [60]:
infile=open(r'ques6.txt')
content = infile.read()
infile.close()

hp = Headingparser()
hp.feed(content)

W3C Mission
	Principles

QUES 7

In [64]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):
    
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
        
    def handle_starttag(self, tag, attrs):
        if tag =='a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)
                        
    def getLinks(self):
        return self.links

In [65]:
url = 'https://reed.cs.depaul.edu/lperkovic/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
collector.getLinks()

['http://reed.cs.depaul.edu/lperkovic/test2.html',
 'https://reed.cs.depaul.edu/lperkovic/test3.html']

In [28]:
import re
def analyze(url):
    #print('\nVisiting', url)
    
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()
    
    content = re.sub( r'<[^>]*>','',content).strip()
    #freq  = frequency(contentsplit(" "))
    
    #print('\n{:45}'.format(url))
    for i in urls:
        print(" " + '{:45}'.format(i))
        analyze(i)
        
    return urls

In [29]:
def crawl3(url):
    print('{:45}'.format(url))
    analyze(url)
    
crawl3('https://reed.cs.depaul.edu/lperkovic/test1.html')

https://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
 http://reed.cs.depaul.edu/lperkovic/test4.html
 https://reed.cs.depaul.edu/lperkovic/test3.html
 https://reed.cs.depaul.edu/lperkovic/test4.html

QUES 8

In [30]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: six in c:\users\108ab\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\108ab\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\108ab\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\108ab\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: backcall in c:\users\108ab\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\108ab\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\108ab\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\108ab\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: colorama in c:\users\108ab\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\108ab\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: stack-data in c:\users\108ab\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\108ab\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\108ab\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: decorator in c:\users\108ab\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\108ab\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\108ab\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\108ab\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\108ab\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: executing in c:\users\108ab\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\108ab\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\108ab\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=255c808ef2c387832b966b9b2822304073977d7ff7c494c344cea6412da6c40d
  Stored in directory: c:\users\108ab\appdata\local\pip\cache\wheels\75\f7\28\77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.2

In [31]:
import sqlite3

In [32]:
con = sqlite3.connect('assignment2.db')
cur = con.cursor()
cur.execute("CREATE TABLE rainfall1 (City text, Country text, season text, Temperature float, Rainfall float)")

In [33]:
con.commit()
con.close()

In [34]:
con =sqlite3.connect('assignment2.db')
cur = con.cursor()

In [35]:
cur.execute("INSERT INTO rainfall1 VALUES ('Mumbai','India','Winter',24.8,5.9)")

In [36]:
cur.execute("INSERT INTO rain VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO rain VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO rain VALUES ('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO rain VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO rain VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO rain VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO rain VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO rain VALUES ('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO rain VALUES ('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO rain VALUES ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO rain VALUES ('Cairo','Egypt','Fall',22.2,4.5)")

In [37]:
con.commit()
con.close()

In [38]:
con = sqlite3.connect('assignment2.db')
cur = con.cursor()
cur.execute('SELECT * FROM rain')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [39]:
cur.execute("SELECT Temperature FROM rain")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [40]:
cur.execute("SELECT DISTINCT City FROM rain")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [41]:
cur.execute("SELECT * FROM rain WHERE Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [42]:
cur.execute("SELECT * FROM rain WHERE Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [43]:
cur.execute("SELECT City,Country,Season FROM rain WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [44]:
cur.execute("SELECT City, Country FROM rain WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [45]:
cur.execute("SELECT SUM(Rainfall) AS 'Total_Rainfall' FROM rain WHERE City = 'Cairo'")
cur.fetchall()

[(27.6,)]

In [46]:
cur.execute("SELECT SUM(Rainfall) FROM rain WHERE Season = 'Winter'")
cur.fetchall()

[(230.1,)]

In [47]:
cur.execute("SELECT SUM(Rainfall) FROM rain WHERE Season = 'Spring'")
cur.fetchall()

[(192.29999999999998,)]

In [48]:
cur.execute("SELECT SUM(Rainfall) FROM rain WHERE Season = 'Summer'")
cur.fetchall()

[(1706.5,)]

In [49]:
cur.execute("SELECT SUM(Rainfall) FROM rain WHERE Season = 'Fall'")
cur.fetchall()

[(569.0,)]

In [50]:
cur.execute("SELECT Rainfall from rain WHERE Season ='Spring'")
cur.fetchall()

[(16.2,), (169.6,), (6.5,)]

In [51]:
con.commit()
con.close()

In [52]:
import sqlite3
con = sqlite3.connect('assignment2.db')
cur = con.cursor()
cur.execute("SELECT * FROM rain")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [53]:
con.close()

QUES 9

In [24]:
words =['The','quick', 'brown', 'fox','jumps','over','the','lazy','dog']

In [26]:
lsta = [i.upper() for i in words]
lsta

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [56]:
lstb = [i.lower() for i in words]
lstb

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [57]:
lstc = [len(i) for i in words]
lstc

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [58]:
lstd = [[i.upper(),i.lower(),len(i)] for i in words]
lstd

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [59]:
lste = [i for i in words if len(i) >= 4]
lste

['quick', 'brown', 'jumps', 'over', 'lazy']